* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #689bdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: rgb(237, 115, 115);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  h1 {
    color: #333;
  }
  
  #drop-area {
    border: 2px dashed #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  #drop-area p {
    font-size: 18px;
    color: #777;
  }
  
  input[type="file"] {
    display: none;
  }
  
  button {
    background-color: #4CAF50;
    color: rgb(232, 19, 19);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #db9a29;
  }
  
  #result {
    margin-top: 20px;
  }
  
  #result h2 {
    color: #333333;
  }
  
  #prediction {
    font-size: 18px;
    color: #555;
  }
  